body {
    background-color: #F4F6F9 !important;
    font-family: "Noto Sans JP" !important;
    a:hover {
        text-decoration: none;
    }
}

.content-header {
    padding: 0;
    .container-fluid {
        padding: 0px 0px;
    }
}

aside {
    .active {
        background-color: #484d53 !important;
    }
    .nav-sidebar {
        padding: 0px 8px;
        li {
            font-size: 14px;
            font-weight: 400;
            height: auto;
            a {
                padding-left: 15px !important;
            }
        }
        .role-name {
            font-size: 18px;
            font-weight: 700;
            height: auto;
            i {
                font-size: 24px;
            }
        }
        .fa-caret-right {
            font-size: 14px !important;
        }
        .nav-treeview .active {
            color: #FFFFFF !important;
        }
    }
    .header-1 {
        padding: 23px 0 13px 15px !important;
        .brand-text {
            font-size: 20px;
            color: #ffffff;
        }
    }
    .os-content {
        margin-top: 25px;
    }
    .aside-ul {
        height: calc(100vh - 93px);
        .sub-title {
            margin-top: 10px;
        }
        li {
            margin-bottom: 5px !important;
        }
        .clock {
            position: absolute;
            bottom: 15px;
            height: unset !important;
            a {
                padding: 0px !important;
                margin: 0px !important;
                padding-left: 5px !important;
            }
            i {
                line-height: 18px;
                font-size: 18px;
                font-weight: 400;
                color: #ffffff;
            }
            span {
                line-height: 20px;
                font-size: 14px;
                font-weight: 400;
                color: #ffffff;
            }
        }
    }
}

.content-wrapper {
    //custom select2
    .select2-container {
        width: 100% !important;
    }
}

.select2-selection {
    height: 37px !important;
}

.select-time {
    .select2-selection__arrow {
        height: 35px !important;
        background: #F4F6F9 !important;
        width: 36px !important;
        border-left: 1px solid #cdcecf !important;
        border-radius: 0 5px 5px 0 !important;
        text-align: center;
        padding: 0.375rem 0.75rem;
        i {
            font-weight: 400;
            color: #4B545C !important;
        }
        b {
            color: #4B545C !important;
            border-color: #4B545C transparent transparent transparent !important;
            border-width: 7px 7px 0 7px !important;
            margin-left: -7px !important;
            width: 14px !important;
        }
    }
    .select2-selection__clear {
        display: none;
    }
    .select2-container--default.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow b {
                border-width: 0px 7px 7px 7px !important;
                border-color: transparent transparent #4B545C transparent !important;
            }
        }
    }
    .select2-container--default {
        .select2-selection--single {
            padding: 6px 15px !important;
            .select2-selection__rendered {
                color: #000000;
                line-height: 28px;
                font-weight: 400;
                font-size: 16px;
                padding-left: 0!important;
            }
        }
    }
    .select2-container--default.select2-container--focus {
        .select2-selection--single,
        .select2-selection--multiple {
            border-color: #ced4da !important;
        }
    }
}

//loading
.modal-loading {
    .modal-dialog {
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(100vh / 2 - 24px);
        z-index: 1000;
    }
    .modal-content {
        box-shadow: none;
        border: none;
        background-color: transparent;
    }
}

//header
.main-header {
    height: 67px;
    .breadcrumb-item a {
        color: #6c757d;
    }
    .active {
        color: #000000
    }
    .breadcrumb-item+.breadcrumb-item::before {
        font-family: "Font Awesome 5 Free";
        content: "\f105";
        display: inline-block;
        vertical-align: middle;
        font-weight: 900;
        padding: 0 15px;
    }
    .border-li {
        border-right: 1px solid #E8EDF4;
        height: 27px;
        margin: auto;
    }
    .avatar a {
        position: relative;
        bottom: 5px;
    }
    .fa-cog {
        color: #4B545C;
        font-size: 24px;
    }
    .ml-25 {
        margin-left: 25px;
    }
    .mr-25 {
        margin-right: 25px;
    }
    li {
        font-size: 14px;
        span {
            color: #4B545C !important;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .fa-stream {
        font-size: 22px;
    }
    .hide-mobile {
        color: #4B545C !important;
        font-size: 14px;
        a {
            color: #4B545C !important;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.navbar {
    padding: 8px 30px 9px 25px !important;
}

.tab-content {
    label {
        color: #1F232E !important;
    }
}

#myTab {
    color: #4B545C;
    border: none;
    .active {
        color: #4B545C;
        font-weight: 700;
        font-size: 18px;
    }
    li {
        width: 140px;
        text-align: center;
        height: 35px;
        a {
            padding-top: 5px;
            height: 35px;
            color: #4B545C;
            border: none;
            font-size: 16px;
        }
    }
    padding: 5px 30px 0;
    background-color: #E8EDF4;
}

#myTabContent {
    margin: 0px 30px;
}

.w-410 {
    width: 410px;
}

.d-flex2 {
    display: flex;
}

//style all table
.card {
    border: none;
    box-shadow: none;
    margin: 40px 30px;
    .card-body {
        .check-all {
            text-decoration: underline;
        }
        padding: 18px 30px 0;
        table {
            margin-top: 8px;
            table-layout: fixed;
            display: table;
            width: 100%;
            a {
                color: #000 !important;
            }
            thead {
                background: #E8EDF4;
                font-weight: 700;
                font-size: 14px;
                th {
                    font-weight: 700;
                    color: #4B545C;
                    padding: 11px 15px 9px 15px !important;
                }
            }
            tbody {
                font-weight: 400;
                font-size: 14px;
                td {
                    font-weight: 400;
                    color: #4B545C;
                    padding: 10px 15px 9px 15px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .hide-mobile {
        display: none !important;
    }
    .w-410 {
        width: 100% !important;
    }
    .d-flex2 {
        display: block !important;
    }
    #myTabContent {
        margin: 0px !important;
    }
    .card {
        margin: 40px 0 !important;
    }
}

//custom sidebar
@media screen and (max-width: 991px) {
    .sidebar-collapse .main-sidebar,
    .sidebar-collapse .main-sidebar::before {
        margin-left: 0 !important;
        width: 4.6rem;
        overflow: hidden;
        height: calc(100vh + 67px);
    }
    .sidebar-mini.sidebar-collapse .nav-sidebar .nav-link {
        height: 40px;
    }
    .sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p {
        width: 0;
        white-space: nowrap;
        animation-fill-mode: both;
        opacity: 0;
        visibility: hidden;
    }
    .main-header {
        z-index: 9999;
        position: fixed;
        width: 100%;
        top: 0;
    }
    .content-wrapper {
        margin-left: 4.6rem !important;
        padding-top: 67px;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        width: auto !important;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar:hover,
    .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused {
        width: 250px;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-link p,
    .sidebar-mini.sidebar-collapse .main-sidebar:focus {
        opacity: 1;
        visibility: unset;
    }
}

@media screen and (max-width: 600px) {
    #myTab {
        padding: 5px 0 0 10px !important;
        li {
            width: unset !important;
        }
        td,
        th {
            display: block;
        }
    }
    #myTabContent {
        #list {
            .buttons-csv {
                margin-top: 15px !important;
            }
        }
    }
}

@media screen and (max-width: 361px) {
    #myTab {
        padding: 5px 0 0 0 !important;
        li {
            width: 100px !important;
        }
    }
}

input {
    cursor: unset !important;
    padding-left: 15px !important;
}

.table-condensed {
    .btn-primary {
        /* height: 50px !important; */
        width: 60px !important;
    }
}

.table-hover tbody tr:hover {
    background-color: #F4F6F9 !important;
}

.input-group-text {
    background-color: #F4F6F9;
    font-weight: 400;
    font-size: 20px !important;
    color: #4B545C !important;
    padding: 0;
    i {
        width: 56px;
    }
}

table {
    i {
        font-size: 24px;
        font-weight: 400;
        font-family: "icoFont";
        color: #4B545C;
    }
}

.form-control:focus {
    color: unset;
    background-color: #fff;
    border-color: #ced4da;
    box-shadow: unset;
}

.font-24 {
    font-size: 24px;
}

.color-nav {
    color: #4B545C;
}

.dataTable {
    th {
        border-bottom: none !important;
        border-top: none !important;
    }
}

input {
    font-size: 16px !important;
}

@media screen and (min-width: 1024px) {
    //scroll
     ::-webkit-scrollbar {
        width: 15px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

//checkbox 
.custom-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 1px solid #C2C7D0;
}


/* On mouse-over, add a grey background color */

.custom-check:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.custom-check input:checked~.checkmark {
    background-color: #fff;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.custom-check input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.custom-check .checkmark:after {
    left: 7px;
    top: 0px;
    width: 7px;
    height: 16px;
    border: solid #4B545C;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}