body {
    background-color: #F4F6F9 !important;
    font-family: "Noto Sans JP" !important;
    a:hover {
        text-decoration: none;
    }
}

.content-header {
    padding: 0;
    .container-fluid {
        padding: 5px 30px;
    }
}

aside {
    .active {
        background-color: #484d53 !important;
    }
    .nav-sidebar {
        padding: 0px 8px;
        li {
            font-size: 14px;
            font-weight: 400;
            height: 35px !important;
            a {
                padding-left: 15px !important;
            }
        }
        .role-name {
            font-size: 18px;
            font-weight: 700;
            height: 44px !important;
            i {
                font-size: 24px;
            }
        }
    }
    .header-1 {
        padding: 23px 0 13px 15px !important;
        .brand-text {
            font-size: 20px;
            color: #ffffff;
        }
    }
    .os-content {
        margin-top: 25px;
    }
    .aside-ul {
        height: calc(100vh - 93px);
        .sub-title {
            margin-top: 10px;
        }
        li {
            margin-bottom: 5px !important;
        }
        .clock {
            position: absolute;
            bottom: 15px;
            height: unset !important;
            a {
                padding: 0px !important;
                margin: 0px !important;
                padding-left: 5px !important;
            }
            i {
                line-height: 18px;
                font-size: 18px;
                font-weight: 400;
                color: #ffffff;
            }
            span {
                line-height: 20px;
                font-size: 14px;
                font-weight: 400;
                color: #ffffff;
            }
        }
    }
}

//custom select2
.select2-container {
    width: 100% !important;
}

.select2-selection {
    height: 37px !important;
}

.select-time {
    .select2-selection__arrow {
        height: 35px !important;
        background: #F4F6F9 !important;
        width: 36px !important;
        border-left: 1px solid #cdcecf !important;
        border-radius: 0 5px 5px 0 !important;
        text-align: center;
        padding: 0.375rem 0.75rem;
        i {
            font-weight: 400;
            color: #4B545C !important;
        }
        b {
            color: #4B545C !important;
            border-color: #4B545C transparent transparent transparent !important;
            border-width: 7px 7px 0 7px !important;
            margin-left: -7px !important;
            width: 14px !important;
        }
    }
    .select2-selection__clear {
        display: none;
    }
    .select2-container--default.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow b {
                border-width: 0px 7px 7px 7px !important;
                border-color: #4B545C transparent transparent transparent !important;
            }
        }
    }
    .select2-container--default {
        .select2-selection--single {
            padding: 6px 7px !important;
            .select2-selection__rendered {
                color: #000000;
                line-height: 28px;
                font-weight: 400;
                font-size: 16px;
                padding-left: 0!important;
            }
        }
    }
    .select2-container--default.select2-container--focus {
        .select2-selection--single,
        .select2-selection--multiple {
            border-color: #ced4da !important;
        }
    }
}

//loading
.modal-loading {
    .modal-dialog {
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(100vh / 2 - 24px);
        z-index: 1000;
    }
    .modal-content {
        box-shadow: none;
        border: none;
        background-color: transparent;
    }
}

//header
.main-header {
    height: 67px;
    .breadcrumb-item a {
        color: #6c757d;
    }
    .active {
        color: #000000
    }
    .breadcrumb-item+.breadcrumb-item::before {
        font-family: "Font Awesome 5 Free";
        content: "\f105";
        display: inline-block;
        vertical-align: middle;
        font-weight: 900;
        padding: 0 15px;
    }
    .border-li {
        border-right: 1px solid #DEE2E6;
        height: 70%;
        margin: auto;
    }
    .avatar a {
        position: relative;
        bottom: 5px;
    }
    .fa-cog {
        color: #4B545C;
        font-size: 24px;
    }
    .ml-25 {
        margin-left: 25px;
    }
    .mr-25 {
        margin-right: 25px;
    }
    li {
        font-size: 14px;
    }
    .fa-stream {
        font-size: 22px;
    }
    .hide-mobile {
        color: #4B545C !important;
        font-size: 14px;
        a {
            color: #4B545C !important;
            font-size: 14px;
        }
    }
}

.tab-content {
    label {
        color: #1F232E !important;
    }
}

#myTab {
    color: #4B545C;
    border: none;
    .active {
        color: #4B545C;
        font-weight: 700;
        font-size: 18px;
    }
    li {
        width: 140px;
        text-align: center;
        height: 35px;
        a {
            padding-top: 5px;
            height: 35px;
            color: #4B545C;
            border: none;
            font-size: 16px;
        }
    }
}

.w-410 {
    width: 410px;
    float: left;
}

.left-content {
    margin-right: 140px;
}

@media screen and (max-width: 600px) {
    .navbar-nav {
        .hide-mobile {
            display: none !important;
        }
    }
    .w-410 {
        width: 100% !important;
    }
}

input {
    cursor: unset !important;
}

.table-condensed {
    .btn-primary {
        /* height: 50px !important; */
        width: 60px !important;
    }
}

.table-hover tbody tr:hover {
    background-color: #F4F6F9 !important;
}

.input-group-text {
    background-color: #F4F6F9;
    font-weight: 400;
    font-size: 20px !important;
    color: #4B545C !important;
    padding: 0;
    i {
        width: 56px;
    }
}

table {
    i {
        font-size: 20px;
        font-weight: 400;
        font-family: "icoFont";
    }
}

//style all table
.card {
    border: none;
    box-shadow: none;
    .card-body {
        .check-all {
            text-decoration: underline;
        }
        padding: 18px 30px 0;
        table {
            a {
                color: #000 !important;
            }
            thead {
                background: #E8EDF4;
                font-weight: 700;
                font-size: 14px;
            }
            body {
                font-weight: 400;
                color: #4B545C;
                font-size: 14px;
            }
            td,
            th {
                padding: 11px 0 9px 15px !important;
            }
        }
    }
}

.form-control:focus {
    color: unset;
    background-color: #fff;
    border-color: #ced4da;
    box-shadow: unset;
}