.select-time .select2-selection {
    height: 46px !important;
}

.select-time .select2-selection__rendered {
    line-height: 40px !important;
}

.select-time .select2-selection__arrow {
    height: 46px !important;
    line-height: 30px !important;
    width: 56px !important;
    border-radius: 0 0.25rem 0.25rem 0 !important;
}

.fa-calendar-alt {
    width: 56px;
    font-size: 20px
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 0px !important;
    top: 0;
    border-radius: 0 0.25rem 0.25rem 0 !important;
    border: 1px solid #ced4da !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-search__field {
    font-size: 16px !important;
}

.tab-content {
    background: #ffffff !important;
}

.nav-tabs .nav-link.active {
    background: #ffffff !important;
}

.invalid-feedback {
    display: unset;
}

.content2 {
    padding: 60px 30px 60px;
}

.row-1 {
    margin: 0 !important;
    width: 870px !important;
}

.col1-6 {
    padding: 0 !important;
    input {
        width: 410px;
    }
    .select2-container {
        width: 410px !important;
    }
}

.pl-25 {
    padding-left: 25px !important;
}

.input-date {
    width: 410px;
}

input {
    height: 46px !important;
}

.select2-selection__arrow i {
    width: 56px !important;
    font-size: 20px;
    color: #4B545C;
    line-height: 30px;
}

.form-group {
    margin-bottom: 0px !important;
}

.col1-6 label {
    margin-bottom: 6px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.form-button {
    width: 410px;
    height: 46px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 50px;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .row-1 {
        width: 100% !important;
    }
    .col1-6 {
        width: 100% !important;
        .select2-container {
            width: 100% !important;
        }
        input {
            width: 100% !important;
        }
    }
    .input-date {
        width: 100% !important;
        input {
            width: 0 !important;
        }
    }
    .pl-25 {
        padding-left: 0 !important;
    }
    .form-button {
        width: 100% !important;
    }
    .mobile-mt-30 {
        margin-top: 30px;
    }
}

small {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #64717C;
    display: block;
}

.invalid-feedback {
    display: block;
}

.col1-12 {
    padding: 0!important;
}